* {
    box-sizing: border-box;
}

header {
    width: 100%;
    padding: 30px 4% 10px;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    color: white;

}

h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

a  {
    text-decoration: none;
    color: white;
}

ul#menu {
    list-style: none;
    margin: 0;
    display: flex;
}

li {
    margin: 0 0 0 15px;
    font-size: 14px;
}

nav {
    margin: 0 0 0 auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #e6e6e6;
    background-image: url("main_visual.jpg")
}

main.main-visual {
    color: #e6e6e6;
    display: grid;
    grid-template-columns:
        1fr
        min(100ch, 100%)
        1fr;
    margin: 70px 0;
    /*
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    */

}
main.main-visual > * {
    grid-column: 2;
}

section {
    background-color: cadetblue;
    padding: 20px;
    text-align: center;
}

div#accordion li {
    width: 100%;
    text-align: center;
    list-style: none;
    margin: 0;
}

#drop-area {
    color: grey;
    width: 50%;
    background-color: white;
}

.acd-check {
    display: none;
}

label.acd-label {
    color: black;
    width: 50%;
    background-color: azure;
}

.acd-item {
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}

.acd-check:checked + .acd-label + .acd-item {
    background-color: white;
    color: black;
    height: 50px;
    opacity: 1;
    visibility: visible;
}
