* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eff0f3;
}

header {
    width: 100%;
    padding: 30px 10% 10px;
    height: 100px;
    top: 0px;
    display: flex;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav {
    margin: 0 0 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

ul.menu {
    list-style: none;
    margin: 0;
    display: flex;
}

ul.menu li {
    margin: 0 0 0 15px;
}

main {
    display: grid;
    grid-template-columns:
        1fr
        min(100ch, 100%)
        1fr;
    margin: 80px 0;
    height: 800px;
}

main > * {
    grid-column: 2;
}

article {
    height: 40vh;
    background-color:#fffffe;
    margin: 0 0 20px 0;
}

footer {
    margin: 0 0 40px 0;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}